Django==6.0.6
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
psycopg[binary]==3.2.13
python-dotenv==1.2.1
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
